header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: transparent;
    transition: background ease 0.2s;
}

header.black {
    background-color: #000;
}
.header--logo {
    height: 60px;
}

.header--logo img{
    height: 100%;
}

.header--user {
    height: 55px;
}

.header--user img {
    height: 100%;
    border-radius: 3px;
}